.parent_container_dashboard{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgb(204, 210, 216);
}

.user_welcome{
    text-align: center;
}

.user_welcome_text{
    font-size: 4vw;    
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.car_card_container{
    width: '22rem';
    height: 220px
}

.car_list {
    text-align: center ;
}